*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
  outline: none;
}

html,
body,
textarea {
  color: #fff;
}

html {
  font-size: 12px;
}

:root {
  --primary: #ff5a86;
}

::selection {
  background-color: var(--primary);
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: transparent;
}

.hero {
  background: linear-gradient(-30deg, blue, var(--primary) 95%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 12rem;
  overflow: hidden;
}

.hero h1 {
  font-size: 6vw;
  font-weight: 600;
  margin-top: -50px;
  margin-bottom: 50px;
filter: drop-shadow(1px 3px 1px black);
}

.hero h1 span {
  color: var(--primary);
  text-align: center;
}

textarea {
  width: 70%;
  height: 300px;
  background-color: #ffffff15;
  padding: 2em;
  border-radius: 2em;
  font-size: 1em;
  resize: vertical;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: white;
  opacity: 1;
  font-size: 16px;
}

:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 10px;
  font-size: 16px;
}

::-webkit-scrollbar-track {
  background: purple;
}


::-webkit-scrollbar-thumb {
  background: #f44674;
  border-radius: 25px;
  cursor: grab;
}

.row {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 25px 25px 25px 25px;
  padding: 45px 0;
  height: fit-content;
}


.highlight{

  background-color: var(--primary);
}

.btns{
  display: flex;
  flex-wrap: wrap;
  
}
button:nth-child(1){

  margin-right: 12px;
}

button,
.download {
  margin-bottom : 12px;
  position: relative;
  padding: 12px 35px;
  background: var(--primary);
  font-size: 17px;
  font-weight: 500;
  color: white;
  border: 3px solid var(--primary);
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all .3s ease-in-out;
  cursor: pointer;
  display: block;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all .8s ease;
}

button:is(:hover, :focus) {
  background: transparent;
  color: var(--primary);
  box-shadow: 0 0 25px #fec1958c;
}

button:is(:hover, :focus) .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:is(:hover, :focus) .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:is(:hover, :focus) .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:is(:hover, :focus) .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:is(:hover, :focus) .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:is(:hover, :focus) .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #FFFDEF
}

select {
  cursor: pointer;
  color: white;
  background-color: #ffffff15;
  height: 50px;
  padding: 0 50px;
  outline: 0;
  border: 0;
  border-radius: 35px;
  appearance: none;
  background-image: url(../imgs/down-arrow.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: calc(100% - 14px);
  background-position-y: 16px;
  width: 300px;
}


select > option{
font-weight: bold;
  color: var(--primary);
}






.download {
  display: block;
}

.download::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  position: relative;
}

.download::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'Download';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.download:hover::after {
  animation: glitch_4011 1.4s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.download:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.download:hover {
  background-color: transparent;
  border: 1px solid var(--primary);
  box-shadow: 0px 10px 10px -10px var(--primary);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}




@media (max-width: 575.98px) {



  .hero h1 {
    font-size: 1.4em;
    font-weight: bolder;
    margin-top: -50px;
    margin-bottom: 50px;
  }
  
  }
